/* Global Styles */
body {
  font-family: Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
h2 {
  font-size: 24px;
  color: #333;
}

/* Section Styles */
._16yfq {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Heading Styles */
h4 {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

/* Text Styles */
p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

/* Links Styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Lists Styles */
ol,
ul {
  margin-left: 20px;
  padding-left: 20px;
}

/* Code Block Styles */
iframe {
  width: 100%;
  border: none;
  max-height: 500px;
}

/* HR Styles */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Blockquote Styles */
blockquote {
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  padding: 10px;
  margin: 10px 0;
  color: #666;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
  border-radius: 3px;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
