.companies-container{

    visibility: hidden;
    display: none;
}

/* Style the container */
.companies-container {
  
   align-items: center;
    margin: 20px;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  /* Style the table headers */
  th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    cursor: pointer;
  }
  
  /* Style the table header on hover */
  th:hover {
    background-color: #555;
  }
  
  /* Style the table cells */
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style odd rows with a light background */
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Style table rows on hover */
  tbody tr:hover {
    background-color: #ddd;
  }
  
  /* Style the list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style list items (li) */
li {
  margin: 10px 0;
}

/* Style the buttons inside list items */
li button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Style button hover state */
li button:hover {
  background-color: #0056b3;
}

/* Add margin to the buttons inside list items if needed */
li button {
  margin-right: 10px;
}


  .frequency-cell {
    height: 5px; /* Set the height of the frequency bar */
    /* background-color: #dcdee1; Default background color */
    --frequency: 0; /* Default value for --frequency */
}

.frequency-cell::before {
    content: "";
    display: block;
    height: 30%;
    width: calc(var(--frequency, 0) * 100%); /* Set the width based on --frequency property as a percentage */
    background-color: #4caf50; /* Bar color */
}

